<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head'); %>
  </head>

  <body class="container">
    <header><%- include('../components/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Akinrele's Submission</h1>
        <p>Welcome to Election results</p>
      </div>
    </main>

    <footer><%- include('../components/footer'); %></footer>
  </body>
</html>
